{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Artisan Web{% endblock %}

{% block page_content %}
<div class="page-header">
    Hello,
    {% if current_user.is_authenticated %}
        {{ current_user.username }}
    {% else %}
        Stranger
    {% endif %}!
</div>
    <div>
    {% if current_user.can(Permission.WRITE_ARTICLES)  %}
    {{ wtf.quick_form(form) }}
    {% endif %}
    </div>
     <br>
     <br>
    <ul class="posts">
    {% for post in posts %}
    <li class="post">
        <div class="profile-thumbnail">
            <a href="{{ url_for('.user',username=post.author.username) }}">
                <img class="img-rounded profile-thumbnail" src="{{ post.author.image }}">
            </a>
        </div>
        <div class="post-date">{{ moment(post.timestamp).fromNow() }}</div>
        <div class="post-author">
            <a href="{{ url_for('.user',username=post.author.username) }}">
                {{ post.author.username }}
            </a>
        </div>
        <div class="post-body">{{ post.body }}</div>
    </li>
    {% endfor %}
    </ul>
{% if current_user.is_authenticated %}
    <div>
    <p>Change your password?<a href="{{ url_for('auth.change_password') }}">Click here to change your password.</a></p>
        <br>
    <p>Change your email?<a href="{{ url_for('auth.change_email_request') }}">Click here to change your email.</a></p>
    </div>
    {% endif %}
{% endblock %}
