{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Artisan Web{% endblock %}

{% block page_content %}
<div class="page-header">
    Hello,
    {% if current_user.is_authenticated %}
        {{ current_user.username }}
    {% else %}
        Stranger
    {% endif %}!
    {% if not known %}
    <p>Pleased to meet you!</p>
    {% else %}
    <p>Happy to see you again!</p>
    {% endif %}
</div>
{{ wtf.quick_form(form) }}
     <br>
     <br>
{% if current_user.is_authenticated %}
    <div>
    <p>Change your password?<a href="{{ url_for('auth.change_password') }}">Click here to change your password.</a></p>
        <br>
    <p>Change your email?<a href="{{ url_for('auth.change_email_request') }}">Click here to change your email.</a></p>
    </div>
    {% endif %}
{% endblock %}
