{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block title %}Artisan Web{% endblock %}

{% block page_content %}
<div class="page-header">
    Hello,
    {% if current_user.is_authenticated %}
        {{ current_user.username }}
    {% else %}
        Stranger
    {% endif %}!
</div>
    <div>
    {% if current_user.can(Permission.WRITE_ARTICLES)  %}
    {{ wtf.quick_form(form) }}
    {% endif %}
    </div>
    {% include '_posts.html' %}
    <div>
    {{ macros.pagination_widget(pagination,'.index') }}
    </div>
{% if current_user.is_authenticated %}
    <div>
    <p>Change your password?<a href="{{ url_for('auth.change_password') }}">Click here to change your password.</a></p>
        <br>
    <p>Change your email?<a href="{{ url_for('auth.change_email_request') }}">Click here to change your email.</a></p>
    </div>
    {% endif %}
{% endblock %}
